 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Tentang Kami</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Fixioner merupakan media portal berita yang menyajikan informasi terupdate seputar Teknologi yang meliputi berita Nasional maupun Internasional, Gadget, Telekomunikasi, Internet, Aplikasi, Game, serta konten lainnya yang relevan serta informatif untuk pembaca.</p>
                </div>
                <div class="col-lg-4">
                    <p>Ditulis dengan bahasa ringan, tentunya semua konten pada Fixioner akan mudah dipahami dan dimengerti oleh pembaca. Fixioner akan terus berusaha untuk menyajikan konten informatif, edukatif, dan inspiratif selama 24 jam yang dapat dinikmati melalui desktop, laptop, smartphone, ataupun perangkat lainnya.</p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>
